{% extends 'base/base.html' %}


{% block content %}
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 10px;">
            <div style="text-align: center; vertical-align: middle; width: 180px; margin-right: 8px;">
                {{ salary_all_csv|safe }}
            </div>
            <img src="{{ salary_all_png.url }}" alt="График зарплат">
        </div>
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 10px;">
            <div style="text-align: center; vertical-align: middle; width: 180px; margin-right: 8px;">
                {{ vacancy_all_csv|safe }}
            </div>
            <img src="{{ vacancy_all_png.url }}" alt="График вакансий">
        </div>
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 10px;">
            <div style="text-align: center; vertical-align: middle; width: 180px; margin-right: 8px;">
                {{ salary_csv|safe }}
            </div>
            <img src="{{ salary_png.url }}" alt="График зарплат профессии">
        </div>
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 10px;">
            <div style="text-align: center; vertical-align: middle; width: 180px; margin-right: 8px;">
                {{ vacancy_csv|safe }}
            </div>
            <img src="{{ vacancy_png.url }}" alt="График вакансий профессии">
        </div>
    </div>
{% endblock %}