{% extends 'base/base.html' %}


{% block content %}
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2015_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2015_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2016_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2016_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2017_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2017_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2018_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2018_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2019_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2019_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2020_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2020_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2021_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2021_png.url }}" alt="График зарплат">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: nowrap; margin-bottom: 15px;">
            <div style="text-align: center; vertical-align: middle; width: 280px; margin-right: 50px;">
                {{ 2022_csv|safe }}
            </div>
            <img style="height: 490px;width: 653px;" src="{{ 2022_png.url }}" alt="График зарплат">
        </div>
    </div>
{% endblock %}